@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .back {
        @apply bg-[#2F2F2F] rounded-md text-white w-[12rem] flex justify-center items-center h-[2rem] hover:brightness-90 active:scale-95 shadow-md
    }

    #passwordStateButton:hover ~ #passwordPopup {
        @apply scale-100
    }

    .content {
        @apply border px-4 py-2 xl:text-base md:text-sm
    }

    #passwordField::-ms-reveal, #passwordField::-ms-clear {
        @apply hidden h-0 w-0
    }

    .inputField {
        @apply pl-2 border-b-2 border-[#2F2F2F] outline-none
    }

    .formButton {
        @apply rounded-md bg-[#2F2F2F] text-white h-[1.5rem] text-sm
    }

    .alertLink {
        @apply w-[5.5rem] h-[1.5rem] flex justify-center items-center rounded-md hover:bg-[#9C9C9C]
    }

    .menuBar {
        @apply w-[2.25rem] h-1 bg-[#2F2F2F] rounded-lg transition-all duration-300
    }

    .menuButtonContainer {
        @apply w-[75%] h-[3rem] relative
    }

    .menuButton {
        @apply w-full h-full rounded-lg hover:bg-[#d8d9d8] flex justify-center items-center
    }

    .headerButton {
        @apply w-full h-[3rem] flex justify-center items-center xl:gap-x-4 md:gap-x-2 xxl:text-lg xl:text-base md:text-sm text-sm
    }

    .statusScreenButton {
        @apply w-[12rem] h-[2rem] bg-[#2F2F2F] rounded-md flex justify-center items-center hover:brightness-90 active:scale-95
    }

    #url:hover > #border {
        @apply flex
    }

    #infoBox::-webkit-scrollbar {
        @apply bg-transparent w-[5px]
    }

    #infoBox::-webkit-scrollbar-thumb {
        @apply w-[full] bg-[#9d9d9d] opacity-50 rounded-full
    }
}

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #2F2F2F;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }

      